.headingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headingContainer .mainHeading {
    font-size: 50px;
    font-weight: 600;
    color: #ea82dc;
    letter-spacing: 2px;

    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */
    text-shadow: 12px 12px 14px rgb(255 171 227);
    margin-top: 20px;
    margin-bottom: 20px;
}