.slidesMainContainer {
    margin-top: 10px;
}

.slidesMainContainer .headingOg {
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 700;
    max-width: 700px;
}

.slidesMainContainer .heading {
    margin-bottom: 20px;
    font-size: 23px;
    max-width: 600px;
}

.slidesMainContainer .currentObj {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.slidesMainContainer .buttonS1 {
    background: green;
    color: white;
    padding: 8px 10px;
    font-size: 18px;
    margin-top: 50px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    margin-bottom: 30px;
}

.slidesMainContainer .buttonS1:hover {
    font-size: 19px;
}

.slidesMainContainer .leftCon,
.slidesMainContainer .rightCon {
    border-radius: 10px;
}

.slidesMainContainer .rightCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slidesMainContainer .rightCon .rightCon3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slidesMainContainer .rightCon .rightCon3 button {
    background: #c20b82;
    color: white;
    padding: 8px 10px;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    margin-bottom: 30px;
}

.slidesMainContainer .rightCon .rightCon3 button:hover {
    background: #d8008d;
}


.slidesMainContainer .rightCon .rightCon4 ul{
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;    
}

.slidesMainContainer .rightCon .rightCon4 .one,
.slidesMainContainer .rightCon .rightCon4 .two{
    max-width: 330px;
}

.slidesMainContainer .rightCon .solutionPara {
    padding: 12px;
    text-align: left;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.slidesMainContainer .rightCon .solutionPara .sp1 {
    font-weight: 900;
    color: #c20c82;
    border-radius: 6px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}