.slideShowContainer .leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideShowContainer .leftContainer .objText0{
    font-size: 25px;
    font-weight: 600;
}

.slideShowContainer .leftContainer .objText {
    font-size: 19px;
    margin-bottom: 17px;
}

.slideShowContainer .leftContainer .objImg {
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.slideShowContainer .rightContainer .d1,
.slideShowContainer .rightContainer .d2{
    padding: 10px 0;
    cursor: pointer;
    border-radius: 10px;
}

.slideShowContainer .rightContainer .d1:hover,
.slideShowContainer .rightContainer .d2:hover{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.slideShowContainer .rightContainer .selectionBtnHeading{
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.slideShowContainer .rightContainer .selectionBtn {
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    cursor: pointer;
}
