.fillerMainContainer {
    margin-top: 10px;
}

.fillerMainContainer .heading {
    margin-bottom: 20px;
    font-size: 23px;
    max-width: 600px;
}

.fillerMainContainer .currentObj {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

