.slidesMainContainer {
    margin-top: 10px;
}

.slidesMainContainer .divContainer {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.slidesMainContainer .heading {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
}

.slidesMainContainer .subHeading {
    font-size: 22px;
    width: 50%;
    margin-right: 30px;
}

.slidesMainContainer .currentObj {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.slidesMainContainer .questions{
    font-size: 20px;
    margin-bottom: 10px;
}

.slidesMainContainer button {
    background: green;
    color: white;
    padding: 8px 10px;
    font-size: 18px;
    /* margin-top: 50px; */
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.slidesMainContainer button:hover {
    font-size: 19px;
}