.headingContaienr {
    font-size: 25px;
    font-weight: 600;
    color: #146398;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
    margin-top: 20px;
    margin-bottom: 20px;
}